.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);

  a {
    text-decoration: none;
    color: unset;
  }

  p {
    margin-bottom: var(--spacing-0);
  }

  h2 {
    /* stylelint-disable */
    font-size: var(--fontSize-4);
    /* stylelint-enable */
    color: var(--color-primary);
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-0);
  }

  header {
    margin-bottom: var(--spacing-4);
  }

  .article-preview {
    .blog-thumbnail {
      max-height: 300px;
      max-width: 300px;
      border-radius: 2%;
    }

    @media (width > 700px) {
      display: flex;
      flex-direction: row;
      column-gap: 1em;

      .description {
        max-width: 25em;
      }
    }
  }
}
