.blog-post {
  .article-illustration {
    margin: 1em auto 0.5em;
  }

  img {
    display: flex;
    margin: 0.2em auto;
  }

  img + em {
    display: inline-block;
    font-size: 0.8rem;
    color: #4b4545;
    margin-top: 0.2em;
    width: 100%;
    text-align: center;
    white-space: pre-line;
  }

  .blog-post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .share-article-container {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex: 0 1 60%;
      align-items: baseline;
      margin-right: 1em;

      svg {
        height: 37px;
        width: 37px;
      }
    }
  }
}

.blog-post-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}

@media (width >= 950px) {
  article {
    img {
      max-width: 600px;
      max-height: 500px;
    }
  }
}

@media (width<= 600px) {
  .blog-post {
    .blog-post-footer {
      .share-article-container {
        flex-direction: column;
      }
    }
  }
}
