#profile {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  #bio-avatar {
    margin: 0 auto;
  }

  #bio {
    svg {
      margin-right: 0.5rem;
      width: 25px;
    }

    > * {
      display: flex;
      flex-direction: row;
    }

    @media (width > 700px) {
      display: flex;
      flex-direction: column;
      row-gap: 0.5em;
      margin-left: 0.3em;
    }
  }

  #social-links {
    display: flex;
    flex-direction: column;
    gap: 1em 0.5em;
    font-size: 0.9rem;

    a {
      color: unset;
    }

    .social-link {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        height: 40px;
        width: 40px;
      }

      img {
        border-radius: 50%;
      }

      span {
        margin-left: 1rem;
      }
    }
  }
}
